## –ü—Ä–æ–µ–∫—Ç–Ω–∞—è —Ä–∞–±–æ—Ç–∞ –ø–æ —Ç–µ–º–µ "–õ–∏–Ω–µ–π–Ω–∞—è –∞–ª–≥–µ–±—Ä–∞"

–ù–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∑–∞—â–∏—Ç–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∫—Ä—É–ø–Ω–æ–π —Å—Ç—Ä–∞—Ö–æ–≤–æ–π –∫–æ–º–ø–∞–Ω–∏–∏. –†–∞–∑—Ä–∞–±–æ—Ç–∞–µ–º —Ç–∞–∫–æ–π –º–µ—Ç–æ–¥ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö, —á—Ç–æ–±—ã –ø–æ –Ω–∏–º –±—ã–ª–æ —Å–ª–æ–∂–Ω–æ –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–∏—Ç—å –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é, –∏ –æ–±–æ—Å–Ω—É–µ–º –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç—å –µ–≥–æ —Ä–∞–±–æ—Ç—ã.

–ù—É–∂–Ω–æ –∑–∞—â–∏—Ç–∏—Ç—å –¥–∞–Ω–Ω—ã–µ, —á—Ç–æ–±—ã –ø—Ä–∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–∏ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–µ–π –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –Ω–µ —É—Ö—É–¥—à–∏–ª–æ—Å—å. –ü–æ–¥–±–∏—Ä–∞—Ç—å –Ω–∞–∏–ª—É—á—à—É—é –º–æ–¥–µ–ª—å –Ω–µ —Ç—Ä–µ–±—É–µ—Ç—Å—è.

## –°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ.  <a class="anchor" id="0-bullet">
* [1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö](#1-bullet)
* [2. –£–º–Ω–æ–∂–µ–Ω–∏–µ –º–∞—Ç—Ä–∏—Ü](#2-bullet)
* [3. –ê–ª–≥–æ—Ä–∏—Ç–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è](#3-bullet)
* [4. –ü—Ä–æ–≤–µ—Ä–∫–∞ –∞–ª–≥–æ—Ä–∏—Ç–º–∞](#4-bullet)

## 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö<a class="anchor" id="1-bullet"></a>
üëà[–Ω–∞–∑–∞–¥ –∫ –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é](#0-bullet)

<span style="color:purple">–í—ã–∑–æ–≤–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, –æ—Ç–∫—Ä–æ–µ–º —Ñ–∞–π–ª –¥–∞–Ω–Ω—ã—Ö –∏ –∏–∑—É—á–∏–º –æ–±—à—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é.

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from IPython.display import display

# —Å—á–∏—Ç–∞–µ–º —Ñ–∞–π–ª –¥–∞–Ω–Ω—ã—Ö
data  = pd.read_csv('/datasets/insurance.csv')

#  –≤—ã–≤–µ–¥–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –¥–ª—è –∑–∞–≥—Ä—É–∂–µ–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã
print(data.info())
display(pd.concat([data.head(2), data.tail(3)]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
–ü–æ–ª                  5000 non-null int64
–í–æ–∑—Ä–∞—Å—Ç              5000 non-null float64
–ó–∞—Ä–ø–ª–∞—Ç–∞             5000 non-null float64
–ß–ª–µ–Ω—ã —Å–µ–º—å–∏          5000 non-null int64
–°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã    5000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB
None

      –ü–æ–ª  –í–æ–∑—Ä–∞—Å—Ç  –ó–∞—Ä–ø–ª–∞—Ç–∞  –ß–ª–µ–Ω—ã —Å–µ–º—å–∏  –°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã
0       1     41.0   49600.0            1                  0
1       0     46.0   38000.0            1                  1
4997    0     20.0   33900.0            2                  0
4998    1     22.0   32700.0            3                  0
4999    1     28.0   40600.0            1                  0

<span style="color:purple">–í —Ç–∞–±–ª–∏—Ü–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–ª–∏–µ–Ω—Ç–∞—Ö —Å—Ç—Ä–∞—Ö–æ–≤–æ–π –∫–æ–º–ø–∞–Ω–∏–∏. –ü—Ä–∏–∑–Ω–∞–∫–∏: –ø–æ–ª, –≤–æ–∑—Ä–∞—Å—Ç –∏ –∑–∞—Ä–ø–ª–∞—Ç–∞ –∑–∞—Å—Ç—Ä–∞—Ö–æ–≤–∞–Ω–Ω–æ–≥–æ, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —á–ª–µ–Ω–æ–≤ –µ–≥–æ —Å–µ–º—å–∏, –∞ —Ç–∞–∫–∂–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞—Ö–æ–≤—ã—Ö –≤—ã–ø–ª–∞—Ç –∫–ª–∏–µ–Ω—Ç—É –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 5 –ª–µ—Ç. –ü–æ—Å–ª–µ–¥–Ω–∏–π –ø—Ä–∏–∑–Ω–∞–∫ - —Ü–µ–ª–µ–≤–æ–π.

<span style="color:purple">–†–∞–∑–æ–±—å—ë–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏ —Ü–µ–ª–µ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –ø—Ä–æ–∫–æ–Ω—Ç—Ä–æ–ª–∏—Ä—É–µ–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å.

In [2]:
features = data.drop(columns='–°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã')
target = data['–°—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã']

In [3]:
display(features.shape, target.shape)

(5000, 4)

(5000,)

## 2. –£–º–Ω–æ–∂–µ–Ω–∏–µ –º–∞—Ç—Ä–∏—Ü<a class="anchor" id="2-bullet"></a>
üëà[–Ω–∞–∑–∞–¥ –∫ –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é](#0-bullet)

–û–±–æ–∑–Ω–∞—á–µ–Ω–∏—è:

- $X$ ‚Äî –º–∞—Ç—Ä–∏—Ü–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (–Ω—É–ª–µ–≤–æ–π —Å—Ç–æ–ª–±–µ—Ü —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ –µ–¥–∏–Ω–∏—Ü)

- $y$ ‚Äî –≤–µ–∫—Ç–æ—Ä —Ü–µ–ª–µ–≤–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞

- $P$ ‚Äî –º–∞—Ç—Ä–∏—Ü–∞, –Ω–∞ –∫–æ—Ç–æ—Ä—É—é —É–º–Ω–æ–∂–∞—é—Ç—Å—è –ø—Ä–∏–∑–Ω–∞–∫–∏

- $w$ ‚Äî –≤–µ–∫—Ç–æ—Ä –≤–µ—Å–æ–≤ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ (–Ω—É–ª–µ–≤–æ–π —ç–ª–µ–º–µ–Ω—Ç —Ä–∞–≤–µ–Ω —Å–¥–≤–∏–≥—É)

–ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è:

$$
a = Xw
$$

–ó–∞–¥–∞—á–∞ –æ–±—É—á–µ–Ω–∏—è:

$$
w = \arg\min_w MSE(Xw, y)
$$

–§–æ—Ä–º—É–ª–∞ –æ–±—É—á–µ–Ω–∏—è:

$$
w = (X^T X)^{-1} X^T y
$$

**–û—Ç–≤–µ—Ç:** <span style="color:purple">(–±) –ö–∞—á–µ—Å—Ç–≤–æ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –Ω–µ –∏–∑–º–µ–Ω–∏—Ç—Å—è.

**–û–±–æ—Å–Ω–æ–≤–∞–Ω–∏–µ:** 
<span style="color:purple">–ü—É—Å—Ç—å $P$ - –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –æ–±—Ä–∞—Ç–∏–º–∞—è –º–∞—Ç—Ä–∏—Ü–∞. 

<span style="color:purple">$$X'=XP$$ 

<span style="color:purple">$$w'=((X')^TX')^{-1}(X')^Ty$$

<span style="color:purple">$$a'=X'w'=XP((XP)^TXP)^{-1}(XP)^Ty=XP(P^TX^TXP)^{-1}P^TX^Ty=XP(X^TXP)^{-1}(P^T)^{-1}P^TX^Ty=XPP^{-1}(X^TX)^{-1}(P^T)^{-1}P^TX^Ty$$

<span style="color:purple">–ö–∞–∫ –∏–∑–≤–µ—Å—Ç–Ω–æ, –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –º–∞—Ç—Ä–∏—Ü—ã –Ω–∞ –æ–±—Ä–∞—Ç–Ω—É—é –¥–∞—ë—Ç –µ–¥–∏–Ω–∏—á–Ω—É—é –º–∞—Ç—Ä–∏—Ü—É. –ü–æ—ç—Ç–æ–º—É:

<span style="color:purple">$$a'=XE(X^TX)^{-1}EX^Ty=X(X^TX)^{-1}X^Ty=Xw=a$$

<span style="color:purple">–ü–æ–ª—É—á–∏–ª–∏, —á—Ç–æ $a'=a$, —Ç.–µ. –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –Ω–µ –∏–∑–º–µ–Ω–∏—Ç—Å—è.

## 3. –ê–ª–≥–æ—Ä–∏—Ç–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è<a class="anchor" id="3-bullet"></a>
üëà[–Ω–∞–∑–∞–¥ –∫ –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é](#0-bullet)

<span style="color:purple">–°–æ–∑–¥–∞–¥–∏–º —Å–ª—É—á–∞–π–Ω—É—é –º–∞—Ç—Ä–∏—Ü—É P.

In [4]:
random_matrix = np.random.randn(features.shape[1], features.shape[1])
display(random_matrix)

array([[ 0.87609576, -1.71202669, -0.49090885, -0.64514356],
       [-0.4737338 ,  1.69219054, -0.75721178, -2.36943734],
       [-1.00828105,  0.34930457, -0.52772542, -0.45864587],
       [ 0.65133088,  1.14731232,  0.91847821,  0.04959445]])

<span style="color:purple">–£–±–µ–¥–∏–º—Å—è, —á—Ç–æ –æ–Ω–∞ –æ–±—Ä–∞—Ç–∏–º–∞—è. –£–º–Ω–æ–∂–∏–º –µ—ë –Ω–∞ –æ–±—Ä–∞—Ç–Ω—É—é –º–∞—Ç—Ä–∏—Ü—É, –ø—Ä–∏ –±–ª–∞–≥–æ–ø—Ä–∏—è—Ç–Ω–æ–º —Ä–∞—Å–∫–ª–∞–¥–µ (–µ—Å–ª–∏ –æ–±—Ä–∞—Ç–Ω–∞—è —Å—É—â–µ—Å—Ç–≤—É–µ—Ç) –¥–æ–ª–∂–Ω–∞ –ø–æ–ª—É—á–∏—Ç—å—Å—è –µ–¥–∏–Ω–∏—á–Ω–∞—è –º–∞—Ç—Ä–∏—Ü–∞.

In [5]:
display(np.round(random_matrix.dot(np.linalg.inv(random_matrix))))

array([[ 1., -0.,  0.,  0.],
       [-0.,  1., -0.,  0.],
       [-0., -0.,  1.,  0.],
       [-0.,  0., -0.,  1.]])

<span style="color:purple">–ù–∞–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è "–∑–∞—à–∏—Ñ—Ä—É–µ—Ç" –Ω–∞—à–∏ –¥–∞–Ω–Ω—ã–µ.

In [6]:
def new_feat(features):
    new_features = features.dot(random_matrix)
    return new_features

<span style="color:purple">–ü–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å.

In [7]:
new_features = new_feat(features)
display(new_features)

                 0             1             2             3
0    -50028.635547  17394.321877 -26205.799193 -22846.577443
1    -38335.820177  13352.561820 -20087.479413 -17537.487438
2    -21187.640249   7384.469541 -11104.193066  -9700.276873
3    -42053.965372  14603.831285 -22020.214713 -19175.191615
4    -26328.523755   9162.518642 -13795.326431 -12037.646496
...            ...           ...           ...           ...
4995 -36007.595231  12519.849186 -18859.162645 -16439.902479
4996 -52849.382435  18362.241372 -27677.638991 -24113.554663
4997 -34188.899478  11877.563432 -17903.199186 -15595.384421
4998 -32978.382264  11461.217612 -17271.015530 -15050.343806
4999 -40947.947593  14228.582251 -21446.426615 -18687.961962

[5000 rows x 4 columns]

<span style="color:purple">–ü—Ä–æ–≤–µ—Ä–∏–º, —á—Ç–æ –ø—Ä–∏ "–¥–µ—à–∏—Ñ—Ä–æ–≤–∫–µ" –≤—Å—ë –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç—Å—è –Ω–∞ –∫—Ä—É–≥–∏ —Å–≤–æ—è.

In [8]:
rec_features = np.round(new_features.dot(np.linalg.inv(random_matrix)))

display(pd.concat([rec_features.head(2), rec_features.tail(3)]))
display(pd.concat([features.head(2), features.tail(3)]))

        0     1        2    3
0     1.0  41.0  49600.0  1.0
1    -0.0  46.0  38000.0  1.0
4997  0.0  20.0  33900.0  2.0
4998  1.0  22.0  32700.0  3.0
4999  1.0  28.0  40600.0  1.0

      –ü–æ–ª  –í–æ–∑—Ä–∞—Å—Ç  –ó–∞—Ä–ø–ª–∞—Ç–∞  –ß–ª–µ–Ω—ã —Å–µ–º—å–∏
0       1     41.0   49600.0            1
1       0     46.0   38000.0            1
4997    0     20.0   33900.0            2
4998    1     22.0   32700.0            3
4999    1     28.0   40600.0            1

<span style="color:purple">–ö–∞–∫ –≤–∏–¥–∏–º, –≤—Å—ë –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–∏–ª–æ—Å—å –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ.

## 4. –ü—Ä–æ–≤–µ—Ä–∫–∞ –∞–ª–≥–æ—Ä–∏—Ç–º–∞<a class="anchor" id="4-bullet"></a>
üëà[–Ω–∞–∑–∞–¥ –∫ –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é](#0-bullet)

<span style="color:purple">–ù–∞–ø–∏—à–µ–º —Å–≤–æ—é –ª–∏–Ω–µ–π–Ω—É—é —Ä–µ–≥—Ä–µ—Å—Å–∏—é –∏ –ø—Ä–æ–≤–µ—Ä–∏–º, —á—Ç–æ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –¥–ª—è –∏—Å—Ö–æ–¥–Ω—ã—Ö –∏ "–∑–∞—à–∏—Ñ—Ä–æ–≤–∞–Ω–Ω—ã—Ö" –¥–∞–Ω–Ω—ã—Ö –Ω–µ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è.

In [9]:
class LR_Custom:
    def fit(self, features, target):
        X = np.concatenate((np.ones((features.shape[0], 1)), features), axis=1)
        y = target
        w = (np.linalg.inv(X.T.dot(X)).dot(X.T)).dot(y)
        self.w = w[1:]
        self.w0 = w[0]

    def predict(self, features):
        return features.dot(self.w) + self.w0

In [10]:
def liner(features, target, our_model):
    model = our_model
    model.fit(features, target)
    predictions = model.predict(features)
    r2 = r2_score(target, predictions)
    return r2

In [11]:
display(liner(features, target, LR_Custom()))
display(liner(new_features, target, LR_Custom()))

0.4249455028666801

0.42494550286666366

<span style="color:purple">–ú–µ—Ç—Ä–∏–∫–∏ —Å–æ–≤–ø–∞–¥–∞—é—Ç.

<span style="color:purple">–£–±–µ–¥–∏–º—Å—è —Ç–µ–ø–µ—Ä—å, —á—Ç–æ –∫–∞—á–µ—Å—Ç–≤–æ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –∏–∑ sklearn —Ç–∞–∫–∂–µ –Ω–µ –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –¥–ª—è –∏—Å—Ö–æ–¥–Ω—ã—Ö –∏ "–∑–∞—à–∏—Ñ—Ä–æ–≤–∞–Ω–Ω—ã—Ö" –¥–∞–Ω–Ω—ã—Ö (—Ç–∞–∫–∂–µ –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç—Ä–∏–∫—É R2).

In [12]:
display(liner(features, target, LinearRegression()))
display(liner(new_features, target, LinearRegression()))

0.42494550286668

0.4249455028666802

<span style="color:purple">–ò –∑–¥–µ—Å—å —Ç–∞ –∂–µ –∫–∞—Ä—Ç–∏–Ω–∞. –†–µ–∑—é–º–∏—Ä—É—è, –º–µ—Ç—Ä–∏–∫–∏ R2 –Ω–∞—à–µ–π –º–æ–¥–µ–ª–∏ –¥–ª—è –∏—Å—Ö–æ–¥–Ω—ã—Ö –∏ "–∑–∞—à–∏—Ñ—Ä–æ–≤–∞–Ω–Ω—ã—Ö" –¥–∞–Ω–Ω—ã—Ö —Ä–∞–≤–Ω—ã –º–µ–∂–¥—É —Å–æ–±–æ–π –∏ —Ä–∞–≤–Ω—ã –º–µ—Ç—Ä–∏–∫–∞–º R2 –¥–ª—è –±–∏–±–ª–∏–æ—Ç–µ—á–Ω–æ–π –º–æ–¥–µ–ª–∏ –∏–∑ sklearn. –ú–æ–¥–µ–ª—å –Ω–∞–ø–∏—Å–∞–Ω–∞ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ, "—à–∏—Ñ—Ä–æ–≤–∞–Ω–∏–µ" —Ä–∞–±–æ—Ç–∞–µ—Ç –≤–µ—Ä–Ω–æ.